.input-container { 
    margin-bottom: 20px; 
} 
 
.toggle-password-icon { 
    position: absolute; 
    right: 1rem; 
    top: 0; 
    bottom: 0; 
    margin: auto 0; 
    width: 2rem; 
    height: 1rem; 
    display: -webkit-box; 
    display: -ms-flexbox; 
    display: flex; 
    -webkit-box-align: center; 
        -ms-flex-align: center; 
            align-items: center; 
            cursor: pointer; 
} 
 
.field-icon:hover { 
    cursor: pointer; 
} 
 
.input-field { 
    height: 50px; 
    font-size: 18px; 
    outline: none; 
 
    &:focus { 
        outline: none !important; 
        -webkit-box-shadow: none !important; 
        box-shadow: none !important; 
    } 
 
    &.error { 
        border-color: red !important; 
        background: rgba(red, 0.2) !important; 
    } 
} 
 
.input-cont { 
    position: relative; 
}