.top {
    float: right;

    .buttonGroup {
        border: 0;
    
        button {
            background: #fff;
            color: #000;
            font-size: 13px;
            border-top: 0;
            border-bottom: 0;
        }
    }
}