/**NAV STYLING **/
#kt_header #kt_header_menu .kt-menu__nav .kt-menu__item.logo {
    background-color: unset !important;
    border-right: 1px solid #DEDEDF;
}

#kt_aside_menu .kt-menu__nav {

    margin-top: 40px !important;
}

#kt_aside_menu .kt-menu__nav .kt-menu__item  {
    padding: 30px !important;
}

#kt_aside_menu .kt-menu__nav .kt-menu__item .kt-menu__link-icon {
    color: #191B3F !important;
}

#kt_aside_menu .kt-menu__nav .kt-menu__item .kt-menu__link-icon.active {
    color: white !important;
}

#kt_aside_menu .kt-menu__nav .kt-menu__item.active  {
    background-color: #7540EE !important;
    color: white !important;
}

.kt-aside__brand-logo .kt-menu__link-icon {
    color: #191B3F !important;
}

.kt-aside__brand.kt-grid__item {
    border-bottom: 1px solid #DEDEDF;
    border-right: 1px solid #DEDEDF;
}

.kt-aside.kt-aside--fixed {
    border-right: 1px solid #DEDEDF !important;
}

.kt-header.kt-grid.kt-grid--ver.kt-header--fixed {
    border-bottom: 1px solid #DEDEDF !important;
}

/**CONTENT STYLE**/
.kt-content .kt-subheader__main h2 {
    color: #191B3F;
    font-weight: 600;
}

.kt-content #kt_subheader  {
    border-bottom: 1px solid #DEDEDF !important;
    padding: 20px !important;
}

#container {
    padding: 30px;
}

#container .row.first .col {
    border: 1px solid #DEDEDF !important;
    padding: 20px;
    font-size: 16px;
    color: #191B3F;
}

#container .row.first .col.active {
    background-color: #7540EE;
    color: white;
}

#container h4 {
    color: #191B3F;
    font-weight: 600;
}

#container .row.room img {
    height: 100%;
    width: 100%;
}

#container .background {
    /* background-image: url('../images/login-background.jpg'); */
    height: 200px;
    background-size: cover;
    object-fit: cover;
}

#container .background-content {
    padding: 10px;
}

#container .background-content .icon-link {
    padding: 5px;
    border-radius: 30%;
    border: 1px solid #ccc;
    color: #ccc;
    font-size: 12px;
}

#container .background-content .user-link {
    color: #ccc;
    font-size: 12px;
}

#container .background-content button {
    border: 1px solid #7540EE;
}

#container .background-content button:hover {
    background-color: #7540EE;
    color: white;
}

#container .background-content p {
    font-weight: 600;
    font-size: 15px;
    color: #191B3F;
}

#container .upcoming-booking-sec {
    padding: 10px;
}

#container .upcoming-booking-sec .heading {
    font-size: 18px;
    font-weight: 600;
}

#container .upcoming-booking-sec .card {
    padding: 20px;
}

#container .upcoming-booking-sec p {
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 2px;
    color: #191B3F;
}

/* login style **/
.kt-login__container button {
    background-color: #7540EE;
    color: white;
    border: 0;
}

.kt-login__container button:hover {
    background-color: white;
    color: #7540EE;
    border: 1px solid #7540EE;
}

/* signup styles **/
.kt-signup__body .signup {
    background-color: #7540EE;
    color: white;
    border: 0;
}

.kt-signup__body .cancel {
    background-color: white;
    color: #7540EE;
    border: 1px solid #7540EE;
}

